<div class="page">
    <h1 class="title"> All Tasks</h1>
    <p class="message"> You can change the completion status when clicking the details button.</p>
    <table class="task-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Completion</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td class="center">
            <span
              [ngClass]="{
                'status-success': item.status,
                'status-danger': !item.status
              }"
            >
        
              {{ item.status ? "Completed" : "Pending" }}
            </span>
          </td>
          <td class="center"><button class="details-btn" [routerLink]="'/view/' + item.id"><i class="fas fa-eye"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  